.main {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  gap: clamp(1rem, 2.3vw, 3rem);
  padding: clamp(1rem, 2.3vw, 3rem) clamp(2rem, 4.3vw, 6rem);
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: clamp(0.5rem, 1.15vw, 1.5rem) clamp(1rem, 2.3vw, 3rem);
  border: none;
  border-radius: 10px;
  width: 100%;
}

.itemsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 1.15vw, 1.5rem);
  flex: 3.6;
  border: none;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1;
  gap: clamp(0.5rem, 1vw, 1.5rem);
  padding-left: 0.5rem;
}

.article figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: clamp(1rem, 2.3vw, 3rem);
  flex: 3;
}

.article figure img {
  width: clamp(20px, 10%, 80px);
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: contain;
}

.article figure figcaption {
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  width: 90%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(52, 52, 52);
}

.quantity {
  width: fit-content;
  min-width: 70px;
  border: 3px solid rgb(20, 150, 170);
  background-color: white;
  color: black;
  padding: clamp(0.3rem, 0.5vw, 1rem) clamp(0.4rem, 0.8vw, 1.1rem);
  border-radius: 50px;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: clamp(0.1rem, 0.7vw, 1rem);
  background-color: transparent;
}

.quantity button {
  border: none;
  background-color: inherit;
  font-weight: bold;
  font-size: clamp(0.4rem, 1vw, 1.5rem);
  padding: 0 clamp(0.1rem, 0.5vw, 0.5rem);

  &:hover {
    cursor: pointer;
  }
}

.price {
  font-weight: 100;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.summaryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  gap: clamp(0.5rem, 1vw, 1.5rem);
  flex: 1;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: clamp(0.5rem, 1vw, 1.5rem);
  width: 100%;
}

.breakdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 100%;
  color: rgb(52, 52, 52);
  font-weight: 100;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 1.5rem);
}

.total {
  width: 100%;
  padding-top: clamp(0.5rem, 1vw, 1.5rem);
}

.itemCost,
.shippingCost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.shippingCost {
  padding-bottom: clamp(0.5rem, 1vw, 1.5rem);
}

.totalCost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.5rem, 1.1vw, 1.6rem);
}

.payBtn {
  border: none;
  border-radius: 20px;
  background-color: rgb(20, 150, 170);
  color: white;
  width: 100%;
  font-weight: 600;
  font-size: clamp(0.6rem, 1.1vw, 1.6rem);
  padding: clamp(0.25rem, 0.5vw, 0.75rem);
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    background-color: rgb(20, 160, 180);
    cursor: pointer;
  }

  &:active {
    background-color: rgb(20, 170, 190);
  }
}

@media (max-width: 750px) {
  .quantity {
    width: 50%;
    min-width: 60px;
    padding: 0.3vw 0.2vw;
    font-size: 8px;
  }

  .itemsSection {
    flex: 2.6;
  }

  .article figure {
    flex: 2;
  }
}

@media (max-width: 560px) {
  .quantity {
    width: 60%;
  }

  .article figure {
    flex: 2;
  }
  .details {
    flex: 2;
  }
}

@media (max-width: 430px) {
  .quantity {
    width: 50%;
    min-width: 50px;
    font-size: 6px;
    padding: 1px;
    background-color: transparent;
  }
  .article figure figcaption {
    font-size: 6px;
  }
  .price {
    font-size: 6px;
  }
  .itemCost,
  .shippingCost,
  .totalCost {
    font-size: 6px;
  }
}

@media (max-width: 375px) {
  .main {
    padding: 1rem;
  }
}
