.main {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  gap: 2rem;
  padding: 2rem 4rem;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 110px;
  gap: 1rem;
}

.itemsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  border: none;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 220px;
}

.article figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  width: 80%;
}

.article figure img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.article figure figcaption {
  font-size: 1rem;
  width: 90%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(52, 52, 52);
}

.quantity {
  border: 3px solid rgb(20, 150, 170);
  background-color: white;
  color: rgb(52, 52, 52);
  height: 35px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 120px;
}

.quantity button {
  border: none;
  background-color: inherit;
  font-weight: 100;
  font-size: 1rem;
  padding: 0 10px;
  color: rgb(52, 52, 52);

  &:hover {
    cursor: pointer;
  }
}

.price {
  font-weight: 100;
  font-size: 1rem;
}

.summaryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 1rem;
  width: 300px;
  height: 210px;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  width: 100%;
  height: 150px;
}

.breakdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 100%;
  color: rgb(52, 52, 52);
  font-weight: 100;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 1.5rem);
}

.total {
  width: 100%;
  padding-top: clamp(0.5rem, 1vw, 1.5rem);
}

.itemCost,
.shippingCost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.shippingCost {
  padding-bottom: clamp(0.5rem, 1vw, 1.5rem);
}

.totalCost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.payBtn {
  border: none;
  border-radius: 20px;
  background-color: rgb(20, 150, 170);
  color: white;
  width: 100%;
  height: 35px;
  font-weight: 600;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    background-color: rgb(20, 160, 180);
    cursor: pointer;
  }

  &:active {
    background-color: rgb(20, 170, 190);
  }
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .itemsSection {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .main {
    padding: 1rem;
  }
  .article {
    flex-direction: column;
    height: auto;
  }
  .article figure {
    flex-direction: column;
    width: 100%;
  }
  .article figure figcaption {
    text-align: center;
    width: 100%;
  }
  .details {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .summaryWrapper {
    width: 100%;
  }
}
