.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.title {
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  color: var(--header-font-color);
  font-weight: var(--header-font-weight);
  text-align: center;
}

.btnContainer {
  width: 20%;
  min-width: 150px;
}

.shopBtn {
  border: none;
  border-radius: 50px;
  background-color: rgb(0, 120, 140);
  color: white;
  font-size: clamp(1rem, 1.5vw, 3rem);
  font-weight: var(--main-font-weight);
  width: 100%;
  padding: 0.5rem;

  &:hover {
    background-color: rgb(0, 130, 150);
    cursor: pointer;
  }

  &:active {
    background-color: rgb(0, 140, 160);
  }
}
